body{
    background-image: url(space8.jpg);
}
.box {
    display: flex;
    padding: 10px;
    margin-left: 275px;
    margin-right: 303px;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: aliceblue;
}

.container {
    margin-left: 275px;
    padding: 15px;
    width: 60%;
    height: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: aliceblue;
}
.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(137, 215, 229);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }